/* styling */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(210, 210, 210);
}

.grid-container {
    background-color: white;
    margin: 0 auto;
    width: 700px;
    display: grid;
    grid-template-areas: 'header'
                         'main'
                         'footer';
    grid-template-rows: minmax(50xp, auto);
    grid-template-columns: repeat(1, 1fr);
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

.grid-main {
    grid-template-areas: 'rekening rekening rekening rekening'
                         'drankje hoeveelheid prijs totaal'
                         'empty empty betalen betalen'
                         'extra extra extra extra';
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: repeat(4, 1fr);
}

.empty { grid-area: empty; width: 125px; display: inline-block; }
.rekening { grid-area: rekening; width: 125px; display: inline-block; }
.drankje { grid-area: drankje; width: 125px; display: inline-block; }
.hoeveelheid { grid-area: hoeveelheid; width: 125px; display: inline-block; }
.prijs { grid-area: prijs; width: 125px; display: inline-block; }
.totaal { grid-area: totaal; width: 125px; display: inline-block; }
.betalen { grid-area: betalen; width: 125px; display: inline-block; }
.lipsum { grid-area: extra; width: 125px; display: inline-block; }
