/* styling */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(210, 210, 210);
}

.grid-container {
    background-color: white;
    margin: 0 auto;
    width: 700px;
    display: grid;
    /* grid-template-rows:  */
}